body {
    font-family: 'Lato', sans-serif;
    height: 100%;
}

textarea {
    background: #F4F4F4;
    border: 0px solid #F4F4F4;
    border-radius: 10px;
    padding: 20px;
    outline: none;
    height: auto;
    min-height: 500px;
    width: 100%;
    white-space: nowrap;
    overflow-y: auto;
    resize: vertical;
}

.p-tb-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.p-lr-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.btn-common, .grey, .black, .red {
    height: 36px;
    color: #FFF;
    border-radius: 0px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 12px;
    transition: 0.5s;
}

.btn:hover {
    color: #FFF;
    transition: 0.5s;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  color: #FFF;
  outline: none;
  transition: 0.5s;
}

.black {
    background: #000;
}

.black:hover {
    background: #333030;
}

.grey {
    background: #8E8E8E;
}

.grey:hover {
    background: #9E9E9E;
}

.red {
    background: #E84646;
}

.red:hover {
    background: #E85858;
}

.btn.red[disabled] {
    background: #C97F7F;
    opacity: 1;
}

.btn.grey[disabled] {
    background: #B3AFAF;
    opacity: 1;
}

.btn.black[disabled] {
    background: #333030;
    opacity: 1;
}

.input-light {
    height: 36px;
    border-radius: 0px;
    border: 1px solid #DADADA;
}

.list {
    list-style: none;
    padding: 0px;
    margin: 20px 0px;
    overflow: scroll;
    overflow-x: auto;
    overflow-y: auto;
}

.list li a {
    display: block;
    padding: 10px 15px;
    border-bottom: 1px solid #F4F4F4;
    border-radius: 10px;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.list li a:hover {
    background: #CECECECE;
}

.active {
    background: #CECECECE;
}

.list li h5 {
    color: #494A4B;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0px;
}

.list li span {
    color: #7D7D7D;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.file_action {
    padding: 0 10px 20px 10px;
}

.file_action h5 {
    font-weight: 900;
}

select {
    text-transform: capitalize;
    height: 36px;
    width: 72px;
}

.groups_list {
    display: inline-block;
    margin-left: 10px;
}

.settings-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    cursor: pointer;
}

.settings-btn {
    padding: 7px 17px;
    border: 1px solid #000;
    font-weight: bold;
    color: #000;
    background-color: transparent;
}

.settings-btn:hover {
    background-color: #f9f9f9;
}

.settings-dropdown.active .settings-btn {
    background-color: #f9f9f9;
}

.settings-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1;
}

.settings-dropdown.active .settings-dropdown-content {
    display: block;
}

.show {
    display: block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.buttons-dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.buttons-dropdown-content button {
    width: 100%;
    text-align: left;
    border: none;
    cursor: pointer;
}
